h1, h2, h3, h4, h5, h6 {
    line-height: 1.3 !important;
}
.text-cream {
    color: #F5F1E9;
}

.p-20 {
    padding: 3rem;
}

.bg-coffee {
    background-color: #4c6907cb;
}
.text-coffee {
    color: #4c6907cb;
}